body {
    background-image:url('imagens/pexels-king-siberia-1123639-2277981.jpg');
    background-size: cover;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    font-weight:inherit;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    padding: 20px;
    text-align: center;
    background-color: black;
}

header img {
    width: 20%; /* ou defina uma largura específica */
    height: auto;
  }

nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #ff6b3b;
}

.banner {
    text-align: center;
    padding: 20px 0;
    color: white;
}

.banner h1 {
    font-size: 30px;
    margin: 0;
}

.banner p a {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 0;
}

.section {
    
    text-align: center;
}

.section h2 {
    color: #ff6b3b;
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.product {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 30%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    color: #333;
}

.product p {
    color: #666;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    margin: 0;
}

.floating-image {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    
  }
  
  .floating-image img {
    width: 110px; /* Ajuste o tamanho da imagem conforme necessário */
    cursor: pointer;
    border-radius: 50%;
  }

/* CSS Adicionado para as Marcas */

.brands-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.brand-item {
    flex: 1 1 18%;
    margin: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box; 
}

.brand-item img {
    width: 100%; 
    max-width: 150px;
    height: 150px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.brand-item img:hover {
    transform: scale(1.2);
}
@media (max-width: 768px) {
    .product {
        width: 45%;
    }
    .brand-item {
        flex: 1 1 45%;
    }
}
@media (max-width: 768px) { 
    header img {
      width: 100%; /* Ajuste conforme necessário */
      height: auto; /* Mantém a proporção da imagem */
      max-height: 50vh; /* Limita a altura a 50% da altura da tela */
      object-fit: cover;
    }
}


