body {
    background-image:url('imagens/pexels-king-siberia-1123639-2277981.jpg');
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    font-weight:inherit;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: black;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover {
    background-color: #ff6b3b;
}

.banner {
    text-align: center;
    padding: 50px 0;
    color: white;
}

.banner h1 {
    font-size: 30px;
    margin: 0;
}

.banner p {
    font-size: 24px;
}

.section {
    padding: 40px 20px;
    text-align: center;
}

.section h2 {
    color: #ff6b3b;
    margin-bottom: 40px;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}

.product {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 30%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    color: #333;
}

.product p {
    color: #666;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    margin: 0;
}

/* CSS Adicionado para as Marcas */

.brands-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.brand-item {
    flex: 1 1 18%; /* Define a largura de cada item de marca */
    margin: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden; /* Garante que a imagem não vaze do container */
    box-sizing: border-box; /* Garante que padding e border não afetem o tamanho total */
}

.brand-item img {
    width: 100%;  /* Imagem ocupa 100% da largura do container */
    max-width: 150px; /* Largura máxima das imagens */
    height: 150px; /* Altura fixa */
    object-fit: contain; /* Mantém a proporção da imagem */
    transition: transform 0.3s ease-in-out;
}

.brand-item img:hover {
    transform: scale(1.2); /* Aumenta o tamanho da imagem ao passar o mouse */
}
@media (max-width: 768px) {
    .product {
        width: 45%; /* Ajusta para telas menores */
    }
    .brand-item {
        flex: 1 1 45%; /* Ajusta para telas menores */
    }
}

